@font-face {
    font-family: 'Pokemon Solid';
    src: url('fuente/Pokemon\ Solid.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, rgba(255,255,255,0), rgb(161, 161, 161)), url("img/fondo-pokemon.png");
    width:100vw;
    height:100vh; 
}


h1{
    font-size: 5rem;
    color: #FFF836;
    -webkit-text-stroke: 3px #6077FF;
    font-family: 'Pokemon Solid';
    margin-bottom: 3rem;
}

.titulo {
    text-align: center;
}


/********************* USUARIOS *********************/

.contenedorUsuarios{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}


/*********** CARD USUARIO ***********/
.contenedorCard{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.cardUsuario {
    display: grid;
    width: 18rem;
    height: auto;
    grid-template-areas:"nada nada nada nada nada cerrar"
                        "avatar avatar nombre nombre nombre nombre"
                        "turnos turnos turnos casillero casillero casillero";
    min-width: auto;
    border-radius: 12px;
}
.cardUsuarioItem{
    text-align: center;
    width: auto;
    height: auto;
} 

.avatarUsuario{
    grid-area: avatar;
    padding: 0rem;
    margin-left: 1rem;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nombreUsuario{
    grid-area: nombre;
    margin-top: 1rem;
}
.turnosUsuario{
    grid-area: turnos;
    margin-top: 1rem;
}
.casilleroUsuario{
    grid-area: casillero;
    margin-top: 1rem;
}
.inputNombreUsuario{
    max-width: 8rem;
}
.cardUsuario2{
    display: none;
}
.cardUsuario3{
    display: none;
}
.cardUsuario4{
    display: none;
}

/*********** AGREGAR USUARIO ***********/
.cardAgregarUsuario{
    /* margin-left: 2rem; */
    width: 18rem;
    height: 8.5rem;
    text-align: center;
    align-items: center;
}
.tituloAgregarUsuario{
    margin-top: 1rem;
}
.btnAgregarUsuario{
    width: 5rem;
    height: 3rem;
    box-shadow: none;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none; 
} 
/*********** FIN AGREGAR USUARIO ***********/

/*********** SELECCION DE AVATAR ***********/

.contenedorListaAvatares{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
}
.contenedorAvatar{
    border-style: none;
    margin: 0.5rem;
    background-color: transparent;
    width: 8rem;
    height: 8rem;    
}  

.avatar {
    width: 8rem;
    height: 8rem;
}

.avatar:hover{
    border: 2px solid #000000;
    border-radius: 25%;
}  

.avatarPokemon{
    width: 3.5rem;
    height: 3.5rem;
}

/*********** FIN SELECCION DE AVATAR ***********/

/*********** TABLERO ***********/
.contenedorTablero{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.casillero {
    display: grid;
    grid-template-areas:"casillero casillero "
                        "usuario1 usuario2"
                        "usuario3 usuario4";
    min-width: auto;

    /******************/

    border-top-style:solid ;
    border-bottom-style:solid ;
    border-style:solid ;
    border-color: #6077FF;
    height: 15rem;
    
    
   /******************/

    
    background-color: #FFD700;
    min-width: 12rem;
}

/**************/
.tablero_avatar{
    width: 5rem;
    height: 5rem;
    grid-area: usuario1;
}
.tablero_contenedor_avatar { 
    width: 5rem;
    height: 5rem;
}
.tablero_casillero{
    grid-area: casillero;
    color: #424242;
    font-size: 2rem;

}

/*********** FIN TABLERO ***********/

.divBtnComenzarJuego{
    margin-left: auto;
    margin-right: auto;
}
.btnComenzarJuego{
    width: 12rem;
    height: 7rem;
    
}
.btnOcultarMostrar{
    display: none;
}

/*********** BOTONES ***********/

.divBotones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.btnJuego{
    width: 10rem;
    height: 10rem;
    background-image: linear-gradient(red 45%, black 50% , white 45% );
    border-radius: 50%;
    color:#000000;
    font-weight:900;
    border-color: #000000;
}
.circuloBtn{
    width: 4.6rem;
	height: 4.6rem;
	border-radius: 50%;
	background:#fff; 
    border-width: 1rem;
    border: solid;
    border-color: #000000; 
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    margin:0px auto;
    font-size:  1rem;
}

.btnJuegarDeNuevo{
    font-size:  0.75rem;
}

.btnRanking{
    font-size:  0.75rem;
}

/*********** FIN BOTONES ***********/

/*********** MENSAJES ***********/
.contenedorMensajes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mensajes {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: xx-large;
    width: 60%;
}

